[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.7"
faker = "*"
ipython = "*"
webargs = "*"
django-extensions = "*"
fields = "*"
django-crispy-forms = "*"
pillow = "*"
django-inlinecss = "*"
six = "*"
django-baton = "*"
django-grappelli = "*"
python-dotenv = "*"
social-auth-app-django = "*"
python-social-auth = "==0.2.21"
social-auth-core = "*"
rest-social-auth = "*"

[dev-packages]

[requires]
python_version = "3.10"
