appnope==0.1.3
asgiref==3.5.1
asttokens==2.0.5
backcall==0.2.0
beautifulsoup4==4.11.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
cryptography==37.0.2
cssutils==2.4.0
decorator==5.1.1
defusedxml==0.7.1
Django==3.2.7
django-admin-black==0.0.1
django-admin-bootstrapped
django-autocomplete-light==3.8.2
django-baton==2.3.0
django-crispy-forms==1.14.0
django-extensions==3.1.5
django-github-oauth==2021.6.5
django-grappelli==3.0.3
django-inlinecss==0.3.0
django-jet==1.0.8
djangorestframework==3.13.1
executing==0.8.3
Faker==13.11.0
fields==5.0.0
flake8==4.0.1
future==0.18.2
idna==3.3
ipython==8.3.0
jedi==0.18.1
marshmallow==3.15.0
matplotlib-inline==0.1.3
mccabe==0.6.1
oauthlib==3.2.0
packaging==21.3
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.0
prompt-toolkit==3.0.29
ptyprocess==0.7.0
pure-eval==0.2.2
pycodestyle==2.8.0
pycparser==2.21
Pygments==2.12.0
pyflakes==2.4.0
PyJWT==2.3.0
pynliner==0.8.0
pyparsing==3.0.8
python-dateutil==2.8.2
python-dotenv==0.20.0
python3-openid==3.2.0
pytz==2022.1
requests==2.27.1
requests-oauthlib==1.3.1
six==1.16.0
social-auth-app-django==5.0.0
social-auth-core==4.2.0
soupsieve==2.3.2.post1
sqlparse==0.4.2
stack-data==0.2.0
text-unidecode==1.3
traitlets==5.2.0
urllib3==1.26.9
wcwidth==0.2.5
webargs==8.1.0
