{% extends "index.html" %}

{% block search %}
<form class="d-flex" type="get" action="#" style="margin: 0">
  <input class="d-flex" id="search_box" type="text" name="search_box"  placeholder="Search.." >
  <button class="btn btn-outline-success" id="search_submit" type="submit">Search</button>
</form>
{% endblock %}


{% block content %}
<!--    <h1>Teachers list</h1>-->
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
          aria-expanded="false">Choose a course</button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    {% for course in courses_list %}
    <li>
      <a class="dropdown-item"
         href="http://127.0.0.1:8000/teachers/?course={{ course.id }}">{{ course.name }}</a>
    </li>
    {% endfor %}
  </ul>
</div>

<br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone number</th>
<!--      <th scope="col">Course</th>-->
    </tr>
  </thead>

  <tbody>
    {% for teacher in teachers_list %}
        <tr>
          <td>{{ teacher.first_name }}</td>
          <td>{{ teacher.last_name }}</td>
          <td>{{ teacher.email }}</td>
          <td>{{ teacher.phone_number }}</td>
<!--          <td>{{ teacher.course }}</td>-->
        </tr>
    {% endfor %}
  </tbody>

</table>
{% endblock %}